<!DOCTYPE html>
<html>
<head>
    <title>Current Graph Scores</title>
</head>
<body>
    <h4>
        Current stats:
        <br />
        {{num_running}} graphs running now.
        <br />
        {{num_solved}} have solutions (out of {{total_graphs}} = {{percent_solved}}%)
        <br />
        The most successful algorithms so far:
        <ol>
            {% for algo in best_algos %}
            <li>{{algo.name}} with {{algo.bests}} optimal solutions.</li>
            {% endfor %}
        </ol>
    </h4>
    <table style="width:50%" border="1">
        <thead>
            <tr>
                <td>Graph ID:</td>
                <td>Num Vars:</td>
                <td>Input Filename: </td>
                <td>Best score: </td>
                <td>Currently running?</td>
                <td>Test graph?</td>
            </tr>
        </thead>
        <tbody>
        {% for graph in graphs %}
            <tr>
                <td>{{graph.pk}}</td>
                <td>{{graph.num_vars}}</td>  
                <td>{{graph.input_filename}}</td>
                <td>
                    {% if graph.current_best %}
                        {{graph.current_best.path_cost}} with {{graph.current_best.algo.name}}
                        <br />
                        Command:<i>{{graph.current_best.algo.command}}</i>
                    {% else %}
                        &infin;
                    {%endif %}</td>
                <td>{{graph.is_running|yesno}}</td>
                <td><b>{{graph.is_test_graph|yesno}}</b></td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
</body>
</html>