<!DOCTYPE html>
<html>
<head>
    <title>Current Graph Scores</title>
</head>
<body>
    <table style="width:50%" border="1">
        <thead>
            <tr>
                <td>Graph ID:</td>
                <td>Num Vars:</td>
                <td>Input Filename: </td>
                <td>Best score: </td>
                <td>Currently running?</td>
            </tr>
        </thead>
        <tbody>
        {% for graph in graphs %}
            <tr>
                <td>{{graph.pk}}</td>
                <td>{{graph.num_vars}}</td>  
                <td>{{graph.input_filename}}</td>
                <td>
                    {% if graph.current_best %}
                        {{graph.current_best.path_cost}} with {{graph.current_best.algo.name}}
                        <br />
                        Command:<i>{{graph.current_best.algo.command}}</i>
                    {% else %}
                        &infin;
                    {%endif %}</td>
                <td>{{graph.is_running|yesno}}</td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
</body>
</html>